:root{
    --buttonColor: grey

}

body{
    text-align: center;
    background-color:#ece8dc;
    
}

button{
    
    background-color: var(--buttonColor);
}

#quiz{
    display: flex;
    flex-flow: column;
    align-items: center;
       
   
}



