:root{
    --buttonColor: purple 
}

body{
    text-align: center;
    background-color: bisque;
    
}

button{
    
    background-color: var(--buttonColor);
}

#quiz{
    display: flex;
    flex-flow: column;
    align-items: center;
   
}

